* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

}

p {
  margin: 0;
}

header{
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  padding: 0;
  margin: 0;
  background-color:aquamarine;
  color: black;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 2px; /* This line of code will add space between the list items (About me, work etc)*/
}
.main-image{
  width: 70%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.small-image {
  width: 250px;
  height: 200px;
  margin:15px
}

.page-section{
  display:flex;
  flex-direction:row
}

.image-grid{
display: flex;
flex-wrap: wrap;
flex-direction: column;
}

.small-projects{
  margin-right: auto;
  margin-left: auto;
  display: flex;
flex-direction: row;
flex-wrap: wrap;
}

p{
margin-left: auto;
margin-right: auto;
}

h2{
  border-right: 2px solid black;
  padding: 20px;
  flex: 0 0 20%
}

/**
ul{
  float: left;
} 

li {
  list-style: none;
  margin: 0;
  padding: 0;

} **/
@media screen and (min-width: 600px) {
  p {
    font-size: 1.25rem;
  }

  .small-projects{
    display:flex;
    flex-direction: column;
  }

  .small-image{
    width:350px;
    height:300px;
  }

  .main-image{
    
  }
  
}
@media sc(max-width: 800px) {
  p {font-size: 1.5rem;
  

  }
}